<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Divvy Bike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FEADCBD1DA7DFE10090CFED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FEADCD11DA7DFE10090CFED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FEADCDC1DA7DFE20090CFED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
